/*@import "modern-normalize";*/

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #f0f0f0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
